* {
  box-sizing: border-box; }

html {
  background: cornflowerblue;
  padding: 20px;
  font-size: 16px;
  font-weight: normal;
  height: 100vh; }

body {
  height: 100%;
  background: #fefefe;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input {
  height: 40px;
  flex: 1;
  border: none;
  padding: 0 10px; }
  input:focus {
    outline: none; }

sup {
  font-size: 10px;
  position: relative;
  top: -8px;
  color: #888; }
