.search-bar {
  display: flex;
  margin: 20px;
  border: 6px solid #eee;
  border-radius: 4px;
  position: relative;
  z-index: 1; }

.search-bar__button {
  border: none;
  background: coral;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-left: auto; }
  .search-bar__button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background: #ff6c37; }
  .search-bar__button:active {
    transition: background 0.1s ease;
    background: #ff8e64; }
  .search-bar__button:focus {
    outline: none; }
