* {
  box-sizing: border-box;
}

html {
  background-image: url(../img/background.png);
  background-size: cover;
  font-size: 16px;
  font-weight: normal;
  height: 100vh;
}

body {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.5;
  color: #333;
}

main {
  height: 100%;
  margin: 20px;
  background-color: $white;
  box-shadow: 1px 1px 6px rgba(black, 0.2);
  border-radius: 2px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input {
  height: 40px;
  flex: 1;
  border: none;
  padding: 0 10px;
  &:focus {
    outline: none;
  }
}

sup {
  font-size: 10px;
  position: relative;
  top: -8px;
  color: #888;
}
