.search-bar {
  display: flex;
  margin: 25px 20px 10px;
  border: 3px solid #eee;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.search-bar__button {
  border: none;
  background: $orange;
  color: $white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.1s ease;
  margin-left: auto;
  padding: 0 15px;

  &:hover {
    background: lighten($orange, 5%);
    box-shadow: 0 0 4px lighten($orange, 30%);
  }

  &:active {
    transition: background 0.1s ease;
    background: lighten($orange, 4%);
  }

  &:focus {
    outline: none;
  }
}
