.search-tag {
  padding: 4px 8px;
  margin-right: 10px;
  background: #666;
  color: $white;
  display: flex;
  border-radius: 4px;
  font-weight: bold;
  overflow: hidden;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;

  &.editing {
    flex-shrink: 0;
  }

  &.show-suggestions {
    border-bottom-right-radius: 0;
  }

  &:not(.editing):hover {
    cursor: pointer;
  }

  .search-tag__input {
    background: transparent;
    border-bottom: 1px solid $white;
    height: 100%;
    width: 140px;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: $white;
    flex-shrink: 0;
    align-self: center;
    position: relative;
    z-index: 1;

    &::placeholder {
      color: $white;
      font-weight: 200;
      opacity: 0.6;
    }
  }

  .search-tag__wrapper {
    background: inherit;
  }

  .prefix {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;

    .editing & {
      opacity: 0.2;
    }
  }

  .suffix {
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      text-shadow: 1px 2px 2px rgba(black, 0.4);
    }
  }

  &:empty {
    flex-shrink: 0;

    &:after {
      content: '';
      display: inline-block;
      width: 100px;
      margin-left: 0;
      margin-bottom: -4px;
      border-bottom: 1px solid $white;
    }
  }
}
