.suggestions {
  position: fixed;
  min-width: 148px;
  z-index: 0;
  background: inherit;
  font-weight: normal;
  padding: 0;
  border-radius: 0 0 6px 6px;

  &:empty {
    display: none;
  }
}

.suggestions__item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.suggestions__item {
  padding: 3px 10px;
  border-radius: 0 0 6px 6px;


  &:hover,
  &.selected {
    background: $orange;
    color: $white;
    margin: -1 0;
  }
}
