.tag-button {
  background: #f1f1f1;
  border: 2px solid transparent;
  color: #666;
  padding: 4px 10px;
  border-radius: 4px;
  line-height: 1.3;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.1s ease;

  &:hover {
    background: #ddd !important;
    color: #333;
  }

  &.highlight {
    background: #ddd !important;
    color: #333;

    &.selected {
      border-color: #aaa;
    }
  }

  &.selected {
    background: #eee;
    border-color: #ccc;
    color: #333;
  }

  &:active {
    background: #777;
  }

  &.low {
    background: #efefef;
    color: #999
  }

}
