.app-tasks {
  background: lightyellow;
  font-size: 14px;
  width: 80%;
  position: absolute;
  left:0;
  right: 0;
  bottom: 10px;
  margin: auto;
  padding: 10px;
  opacity: 0.1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  li:before { content: '„'; }
  li:after { content: '“'; }
}
