.search-tag {
  padding: 5px 10px;
  margin-right: 10px;
  background: coral;
  color: white;
  display: flex;
  border-radius: 8px;
  font-weight: bold;
  overflow: hidden;
  flex-shrink: 1;
  white-space: nowrap;

  &.editing {
    flex-shrink: 0;
  }

  &:not(.editing):hover {
    background: darken(coral, 5%);
    box-shadow: 0 2px 4px rgba(black, 0.3);
    cursor: pointer;
  }

  .search-tag__input {
    background: transparent;
    border-bottom: 1px solid white;
    height: 100%;
    width: 120px;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
    align-self: center;

    &::placeholder {
      color: white;
      font-weight: 200;
      opacity: 0.6;
    }
  }

  .prefix {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
  }

  .suffix {
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
  }

  &:empty {
    flex-shrink: 0;

    &:after {
      content: '';
      display: inline-block;
      width: 100px;
      margin-left: 0;
      margin-bottom: -4px;
      border-bottom: 1px solid white;
    }
  }
}
